body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

table {
    border-collapse: collapse;
    margin:auto;

}

th, td {
    border: 1px solid #333;
    padding: 5px 10px; 
}

button:not(.delete, .edit) {
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1.5rem;
    outline: none;
    border: none;
    box-shadow:2px 2px 4px #999;
    cursor: pointer;
    transition: .3s;
    filter: brightness(97%);
}

#add {
    background-color: red;
    margin-bottom: 30px;
    color: white;
}

button:hover {
    filter: brightness(100%);
}

label {
    display: inline-block;
    width: 150px;
    text-align: right;
}

.delete, .edit {
    color: grey;
    outline: none;
    border: none;
    padding: 12px 12px;
    border-radius: 2px;
}

.delete:hover {
    background-color: red;
    color: white;
}

.edit:hover {
    background-color: green;
    color: white;
}